dist/_header.html

<header class="header">
  <div class="container">
    <div class="leftcontent"><a href="#"><img class="site" src="./assets/images/sitelogo.png" alt="堤税理士事務所"/></a></div>
    <div class="rightcontent">
      <div class="rightcontent__contact">
        <div class="rightcontent__contact--phone">
          <p>お気軽にお問い合わせください</p><span>0123-456-789</span>
          <p>お電話受付時間00:00〜00:00</p>
        </div>
        <div class="rightcontent__contact--form"><a class="contact-button" href="#">まずは無料相談・お問い合わせ＞</a></div>
      </div>
      <nav class="rightcontent__nav">
        <ul>
          <li><a href="#">相続のご相談</a></li>
          <li><a href="#">顧問税理士をお探しの方</a></li>
          <li><a href="#">ご依頼の流れ</a></li>
          <li><a href="./question.html">よくあるご質問</a></li>
          <li><a href="#">事務所案内</a></li>
          <li><a href="#">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
    <button class="nav-button" onClick="navFunc()"></button>
  </div>
  <div class="mobile-nav">
    <ul>
      <li><a href="#">相続のご相談</a></li>
      <li><a href="#">顧問税理士をお探しの方</a></li>
      <li><a href="#">ご依頼の流れ</a></li>
      <li><a href="./question.html">よくあるご質問</a></li>
      <li><a href="#">事務所案内</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
  </div>
</header>

_header.pug
header.header
  .container
    .leftcontent
      a(href="#")
        img(src="./assets/images/sitelogo.png", alt="堤税理士事務所", class="site")
    .rightcontent
      .rightcontent__contact
        .rightcontent__contact--phone
          p お気軽にお問い合わせください
          span 0123-456-789
          p お電話受付時間00:00〜00:00
        .rightcontent__contact--form
          a(href="#").contact-button まずは無料相談・お問い合わせ＞
      nav.rightcontent__nav
        ul
          li: a(href="#") 相続のご相談
          li: a(href="#") 顧問税理士をお探しの方
          li: a(href="#") ご依頼の流れ
          li: a(href="./question.html") よくあるご質問
          li: a(href="#") 事務所案内
          li: a(href="#") お問い合わせ
    button.nav-button(onClick="navFunc()")
  .mobile-nav
    ul
      li: a(href="#") 相続のご相談
      li: a(href="#") 顧問税理士をお探しの方
      li: a(href="#") ご依頼の流れ
      li: a(href="./question.html") よくあるご質問
      li: a(href="#") 事務所案内
      li: a(href="#") お問い合わせ
