index.pug
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="./styles.css")
    link(rel="shortcut icon", href="./assets/images/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 堤税理士事務所
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css")
    script(src="https://code.jquery.com/jquery-3.3.1.js")

  body
    #wrapper
      include _header

      .keyvisual
        .swiper-container
          .swiper-wrapper
            .swiper-slide
              img(src="./assets/images/slide1.jpg", alt="", class="swiper-image")
            .swiper-slide
              img(src="./assets/images/slide1.jpg", alt="", class="swiper-image")
            .swiper-slide
              img(src="./assets/images/slide1.jpg", alt="", class="swiper-image")
          //- .swiper-button-prev
          //- .swiper-button-next

      .services
        .services-wrapper
          a(href="#").service.navy
            .service__title
              p 相続税のお悩み
            .service__icon
              figure
                img(src="./assets/images/icon1.png", alt="アイコン（相続税のお悩み）")
            .service__explanation 
              ul
                li ・どのくらいの税額？
                li ・売却したい
                li ・料金について
          a(href="#").service.blue
            .service__title
              p 顧問契約
            .service__icon
              figure
                img(src="./assets/images/icon2.png", alt="アイコン（顧問契約）")
            .service__explanation 
              ul
                li ・個人→法人化する
                li ・経営に関する税務をサポート
                li 　
          a(href="./question.html").service.lightblue
            .service__title
              p よくあるご質問
            .service__icon
              figure
                img(src="./assets/images/icon3.png", alt="アイコン（よくあるご質問）")
            .service__explanation 
              ul
                li ・原稿はダミーです。
                li ・ダミーですダミーです。
                li ・ダミーです。

      .message
        .container
          .title 
            p 豊富な法律知識と実績から
            p 最善の解決方法を
            p ご提案します
          .detail
            p 税理士は各種税金・税務申告に関する問題をはじめ、
            p 会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。
            p 相続問題、独立・企業をお考えの方へのサポート、法人・個人事業主の税務申告・
            p 会計業務と経営支援を業務の中心として取り組んでおります。
            p フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。
            p 一人で悩まず、まずはご相談下さい。
      

      .heroimage
        img(src="./assets/images/hero.jpg", alt="")


      .news
        .container
          .title NEWS
          .details
            a(href="#")
              .detailblock
                .date 2016.05.20
                .text 原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
            a(href="#")
              .detailblock
                .date 2016.05.20
                .text 原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
            a(href="#")
              .detailblock
                .date 2016.05.20
                .text 原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。
          .more
            a(href="#") もっと見る

      .columns
        .container 
          .title
            p COLUMN
          .contents
            a(href="#").column
              .column__image
                img(src="./assets/images/column1.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column2.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column3.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column4.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column5.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
            a(href="#").column
              .column__image
                img(src="./assets/images/column6.jpg", alt="", class="column-image")
              .column__explanation
                .column__explanation--date 2016.05.20
                .column__explanation--text 原稿はダミーです。テキストテキストテキストテキストキストテキスト。
          .more
            a(href="#") もっと見る

      .message
        .container
          .title 
            p 豊富な法律知識と実績から
            p 最善の解決方法を
            p ご提案します
          .detail
            p 税理士は各種税金・税務申告に関する問題をはじめ、
            p 会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。
            p 相続問題、独立・企業をお考えの方へのサポート、法人・個人事業主の税務申告・
            p 会計業務と経営支援を業務の中心として取り組んでおります。
            p フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。
            p 一人で悩まず、まずはご相談下さい。


      .contact
        .container
          a(href="#") お問い合わせはこちら


      .map
        .container
          .title
            p アクセス
          .iframe
            iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.1406546211765!2d139.70965201525996!3d35.72275918018463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6a6d9adf75%3A0xf09c2e010c44aa19!2z5qCq5byP5Lya56S-44Kz44Og44OH!5e0!3m2!1sja!2sjp!4v1607303824497!5m2!1sja!2sjp"  frameborder="0", class="googlemap")
          //- .map__iframe
          //-   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.1406546211765!2d139.70965201525996!3d35.72275918018463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6a6d9adf75%3A0xf09c2e010c44aa19!2z5qCq5byP5Lya56S-44Kz44Og44OH!5e0!3m2!1sja!2sjp!4v1607303824497!5m2!1sja!2sjp" width="883" height="440" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          .explanation
            p JR線「吉祥寺駅」から徒歩7分

      include _footer.pug

      .to-top
    
    // Swiper
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js")
    script(src="./assets/javascripts/swiper.js")

    // ページ上部へ戻るボタンのJS
    script(src="./assets/javascripts/toppage.js")

index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./styles.css">
    <link rel="shortcut icon" href="./assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>堤税理士事務所</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/css/swiper.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <header class="header">
        <div class="container">
          <div class="leftcontent"><a href="#"><img class="site" src="./assets/images/sitelogo.png" alt="堤税理士事務所"></a></div>
          <div class="rightcontent">
            <div class="rightcontent__contact">
              <div class="rightcontent__contact--phone">
                <p>お気軽にお問い合わせください</p><span>0123-456-789</span>
                <p>お電話受付時間00:00〜00:00</p>
              </div>
              <div class="rightcontent__contact--form"><a class="contact-button" href="#">まずは無料相談・お問い合わせ＞</a></div>
            </div>
            <nav class="rightcontent__nav">
              <ul>
                <li><a href="#">相続のご相談</a></li>
                <li><a href="#">顧問税理士をお探しの方</a></li>
                <li><a href="#">ご依頼の流れ</a></li>
                <li><a href="./question.html">よくあるご質問</a></li>
                <li><a href="#">事務所案内</a></li>
                <li><a href="#">お問い合わせ</a></li>
              </ul>
            </nav>
          </div>
          <button class="nav-button" onClick="navFunc()"></button>
        </div>
        <div class="mobile-nav">
          <ul>
            <li><a href="#">相続のご相談</a></li>
            <li><a href="#">顧問税理士をお探しの方</a></li>
            <li><a href="#">ご依頼の流れ</a></li>
            <li><a href="./question.html">よくあるご質問</a></li>
            <li><a href="#">事務所案内</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </div>
      </header>
      <div class="keyvisual">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="swiper-image" src="./assets/images/slide1.jpg" alt=""></div>
            <div class="swiper-slide"><img class="swiper-image" src="./assets/images/slide1.jpg" alt=""></div>
            <div class="swiper-slide"><img class="swiper-image" src="./assets/images/slide1.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="services">
        <div class="services-wrapper"><a class="service navy" href="#">
            <div class="service__title">
              <p>相続税のお悩み</p>
            </div>
            <div class="service__icon">
              <figure><img src="./assets/images/icon1.png" alt="アイコン（相続税のお悩み）"></figure>
            </div>
            <div class="service__explanation"> 
              <ul>
                <li>・どのくらいの税額？</li>
                <li>・売却したい</li>
                <li>・料金について</li>
              </ul>
            </div></a><a class="service blue" href="#">
            <div class="service__title">
              <p>顧問契約</p>
            </div>
            <div class="service__icon">
              <figure><img src="./assets/images/icon2.png" alt="アイコン（顧問契約）"></figure>
            </div>
            <div class="service__explanation"> 
              <ul>
                <li>・個人→法人化する</li>
                <li>・経営に関する税務をサポート</li>
                <li>　</li>
              </ul>
            </div></a><a class="service lightblue" href="./question.html">
            <div class="service__title">
              <p>よくあるご質問</p>
            </div>
            <div class="service__icon">
              <figure><img src="./assets/images/icon3.png" alt="アイコン（よくあるご質問）"></figure>
            </div>
            <div class="service__explanation"> 
              <ul>
                <li>・原稿はダミーです。</li>
                <li>・ダミーですダミーです。</li>
                <li>・ダミーです。</li>
              </ul>
            </div></a></div>
      </div>
      <div class="message">
        <div class="container">
          <div class="title"> 
            <p>豊富な法律知識と実績から</p>
            <p>最善の解決方法を</p>
            <p>ご提案します</p>
          </div>
          <div class="detail">
            <p>税理士は各種税金・税務申告に関する問題をはじめ、</p>
            <p>会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。</p>
            <p>相続問題、独立・企業をお考えの方へのサポート、法人・個人事業主の税務申告・</p>
            <p>会計業務と経営支援を業務の中心として取り組んでおります。</p>
            <p>フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。</p>
            <p>一人で悩まず、まずはご相談下さい。</p>
          </div>
        </div>
      </div>
      <div class="heroimage"><img src="./assets/images/hero.jpg" alt=""></div>
      <div class="news">
        <div class="container">
          <div class="title">NEWS</div>
          <div class="details"><a href="#">
              <div class="detailblock">
                <div class="date">2016.05.20</div>
                <div class="text">原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。</div>
              </div></a><a href="#">
              <div class="detailblock">
                <div class="date">2016.05.20</div>
                <div class="text">原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。</div>
              </div></a><a href="#">
              <div class="detailblock">
                <div class="date">2016.05.20</div>
                <div class="text">原稿はダミーです。テキストテキストテキストテキストテキストテキストテキストテキスト。</div>
              </div></a></div>
          <div class="more"><a href="#">もっと見る</a></div>
        </div>
      </div>
      <div class="columns">
        <div class="container"> 
          <div class="title">
            <p>COLUMN</p>
          </div>
          <div class="contents"><a class="column" href="#">
              <div class="column__image"><img class="column-image" src="./assets/images/column1.jpg" alt=""></div>
              <div class="column__explanation">
                <div class="column__explanation--date">2016.05.20</div>
                <div class="column__explanation--text">原稿はダミーです。テキストテキストテキストテキストキストテキスト。</div>
              </div></a><a class="column" href="#">
              <div class="column__image"><img class="column-image" src="./assets/images/column2.jpg" alt=""></div>
              <div class="column__explanation">
                <div class="column__explanation--date">2016.05.20</div>
                <div class="column__explanation--text">原稿はダミーです。テキストテキストテキストテキストキストテキスト。</div>
              </div></a><a class="column" href="#">
              <div class="column__image"><img class="column-image" src="./assets/images/column3.jpg" alt=""></div>
              <div class="column__explanation">
                <div class="column__explanation--date">2016.05.20</div>
                <div class="column__explanation--text">原稿はダミーです。テキストテキストテキストテキストキストテキスト。</div>
              </div></a><a class="column" href="#">
              <div class="column__image"><img class="column-image" src="./assets/images/column4.jpg" alt=""></div>
              <div class="column__explanation">
                <div class="column__explanation--date">2016.05.20</div>
                <div class="column__explanation--text">原稿はダミーです。テキストテキストテキストテキストキストテキスト。</div>
              </div></a><a class="column" href="#">
              <div class="column__image"><img class="column-image" src="./assets/images/column5.jpg" alt=""></div>
              <div class="column__explanation">
                <div class="column__explanation--date">2016.05.20</div>
                <div class="column__explanation--text">原稿はダミーです。テキストテキストテキストテキストキストテキスト。</div>
              </div></a><a class="column" href="#">
              <div class="column__image"><img class="column-image" src="./assets/images/column6.jpg" alt=""></div>
              <div class="column__explanation">
                <div class="column__explanation--date">2016.05.20</div>
                <div class="column__explanation--text">原稿はダミーです。テキストテキストテキストテキストキストテキスト。</div>
              </div></a></div>
          <div class="more"><a href="#">もっと見る</a></div>
        </div>
      </div>
      <div class="message">
        <div class="container">
          <div class="title"> 
            <p>豊富な法律知識と実績から</p>
            <p>最善の解決方法を</p>
            <p>ご提案します</p>
          </div>
          <div class="detail">
            <p>税理士は各種税金・税務申告に関する問題をはじめ、</p>
            <p>会社の経理や経営相談、相続に代表されるご家族の悩みなどを相談できる専門家です。</p>
            <p>相続問題、独立・企業をお考えの方へのサポート、法人・個人事業主の税務申告・</p>
            <p>会計業務と経営支援を業務の中心として取り組んでおります。</p>
            <p>フットワーク軽く、一緒に考え、一緒に悩み、皆様の不安を解決して参ります。</p>
            <p>一人で悩まず、まずはご相談下さい。</p>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="container"><a href="#">お問い合わせはこちら</a></div>
      </div>
      <div class="map">
        <div class="container">
          <div class="title">
            <p>アクセス</p>
          </div>
          <div class="iframe">
            <iframe class="googlemap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.1406546211765!2d139.70965201525996!3d35.72275918018463!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188d6a6d9adf75%3A0xf09c2e010c44aa19!2z5qCq5byP5Lya56S-44Kz44Og44OH!5e0!3m2!1sja!2sjp!4v1607303824497!5m2!1sja!2sjp" frameborder="0"></iframe>
          </div>
          <div class="explanation">
            <p>JR線「吉祥寺駅」から徒歩7分</p>
          </div>
        </div>
      </div>
      <footer class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">相続のご相談</a></li>
            <li><a href="#">顧問税理士をお探しの方</a></li>
            <li><a href="#">ご依頼の流れ</a></li>
            <li><a href="./question.html">よくあるご質問</a></li>
            <li><a href="#">事務所案内</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">コラム</a></li>
          </ul>
        </nav>
        <div class="container">
          <div class="office-name"><a href="#"><img src="./images/sitelogo.png" alt="堤税理士事務所"></a></div>
          <div class="office-info"> 
            <p>〒180-0002 東京都武蔵野市吉祥寺東町1丁目1番18号</p>
            <p>TEL 0422-21-3611</p>
          </div>
        </div>
      </footer>
      <div class="to-top"></div>
    </div>
    <!-- Swiper-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.3.7/js/swiper.min.js"></script>
    <script src="./assets/javascripts/swiper.js"></script>
    <!-- ページ上部へ戻るボタンのJS-->
    <script src="./assets/javascripts/toppage.js"></script>
  </body>
</html>
