question.pug
doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    link(rel="stylesheet" href="./question.css")
    link(rel="shortcut icon", href="./assets/images/favicon.ico")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 堤税理士事務所
    script(src="https://code.jquery.com/jquery-3.3.1.js")


  body
    #wrapper 
      include _header
      
      .page-title
        .container
          h1 よくあるご質問

      .bread-list
        .container
          a(href="./index.html") トップ
          figure ＞
          a(href="./question.html") よくある質問

      .anchor-links
        .container
          a(href="#inheritance-tax").link 相続税について 
          a(href="#advisory-contract").link 顧問契約について 

      .questions(id="inheritance-tax")
        .container
          .subtitle 
            p 相続税について
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text 
                p
                  | 原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストキスト。<br>
                  | テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト<br>
                  | テキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）

      .questions(id="advisory-contract")
        .container
          .subtitle 
            p 顧問契約について
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text 
                p
                  | 原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストキスト。<br>
                  | テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。<br>
                  | テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
          .contents
            .inner
              figure
                img(src="./assets/images/question.png", alt="", class="q-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。<br>
                  | テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
          .contents.red-bgc
            .inner
              figure
                img(src="./assets/images/answer.png", alt="", class="a-image")
              .text
                p
                  | 原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト<br>
                  | テキストテキストキストテキストテキストテキストテキストキスト。<br>
                  | テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）



      footer.footer
        nav.footer-nav
          ul
            li: a(href="#") 相続のご相談
            li: a(href="#") 顧問税理士をお探しの方
            li: a(href="#") ご依頼の流れ
            li: a(href="./question.html") よくあるご質問
            li: a(href="#") 事務所案内
            li: a(href="#") お問い合わせ
            li: a(href="#") プライバシーポリシー
            li: a(href="#") コラム
        .container
          .office-name
            a(href="#")
              img(src="./assets/images/sitelogo.png", alt="堤税理士事務所")
          .office-info 
            p 〒180-0002 東京都武蔵野市吉祥寺東町1丁目1番18号
            p TEL 0422-21-3611

    // ページ上部へ戻るボタンのJS
    script(src="./javascripts/toppage.js")

question.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./question.css">
    <link rel="shortcut icon" href="./assets/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>堤税理士事務所</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <div id="wrapper"> 
      <header class="header">
        <div class="container">
          <div class="leftcontent"><a href="#"><img class="site" src="./assets/images/sitelogo.png" alt="堤税理士事務所"></a></div>
          <div class="rightcontent">
            <div class="rightcontent__contact">
              <div class="rightcontent__contact--phone">
                <p>お気軽にお問い合わせください</p><span>0123-456-789</span>
                <p>お電話受付時間00:00〜00:00</p>
              </div>
              <div class="rightcontent__contact--form"><a class="contact-button" href="#">まずは無料相談・お問い合わせ＞</a></div>
            </div>
            <nav class="rightcontent__nav">
              <ul>
                <li><a href="#">相続のご相談</a></li>
                <li><a href="#">顧問税理士をお探しの方</a></li>
                <li><a href="#">ご依頼の流れ</a></li>
                <li><a href="./question.html">よくあるご質問</a></li>
                <li><a href="#">事務所案内</a></li>
                <li><a href="#">お問い合わせ</a></li>
              </ul>
            </nav>
          </div>
          <button class="nav-button" onClick="navFunc()"></button>
        </div>
        <div class="mobile-nav">
          <ul>
            <li><a href="#">相続のご相談</a></li>
            <li><a href="#">顧問税理士をお探しの方</a></li>
            <li><a href="#">ご依頼の流れ</a></li>
            <li><a href="./question.html">よくあるご質問</a></li>
            <li><a href="#">事務所案内</a></li>
            <li><a href="#">お問い合わせ</a></li>
          </ul>
        </div>
      </header>
      <div class="page-title">
        <div class="container">
          <h1>よくあるご質問</h1>
        </div>
      </div>
      <div class="bread-list">
        <div class="container"><a href="./index.html">トップ</a>
          <figure>＞</figure><a href="./question.html">よくある質問</a>
        </div>
      </div>
      <div class="anchor-links">
        <div class="container"><a class="link" href="#inheritance-tax">相続税について </a><a class="link" href="#advisory-contract">顧問契約について </a></div>
      </div>
      <div class="questions" id="inheritance-tax">
        <div class="container">
          <div class="subtitle"> 
            <p>相続税について</p>
          </div>
          <div class="contents">
            <div class="inner">
              <figure><img class="q-image" src="./assets/images/question.png" alt=""></figure>
              <div class="text"> 
                <p>
                  原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。<br>
                  テキストテキストテキストテキストテテキストテキストキスト。<br>
                  テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
                </p>
              </div>
            </div>
          </div>
          <div class="contents red-bgc">
            <div class="inner">
              <figure><img class="a-image" src="./assets/images/answer.png" alt=""></figure>
              <div class="text">
                <p>
                  原稿はダミーです、テキストテキストテキストテテキスト。<br>
                  テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。<br>
                  テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
                </p>
              </div>
            </div>
          </div>
          <div class="contents">
            <div class="inner">
              <figure><img class="q-image" src="./assets/images/question.png" alt=""></figure>
              <div class="text">
                <p>
                  原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。<br>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
                </p>
              </div>
            </div>
          </div>
          <div class="contents red-bgc">
            <div class="inner">
              <figure><img class="a-image" src="./assets/images/answer.png" alt=""></figure>
              <div class="text">
                <p>
                  原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト<br>
                  テキストテキストキストテキストテキストテキストテキストキスト。<br>
                  テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="questions" id="advisory-contract">
        <div class="container">
          <div class="subtitle"> 
            <p>顧問契約について</p>
          </div>
          <div class="contents">
            <div class="inner">
              <figure><img class="q-image" src="./assets/images/question.png" alt=""></figure>
              <div class="text"> 
                <p>
                  原稿はダミーです、テキストテキストテキストテテキストテキストキストテキストテキストテキストテキスト。<br>
                  テキストテキストテキストテキストテテキストテキストキスト。<br>
                  テキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
                </p>
              </div>
            </div>
          </div>
          <div class="contents red-bgc">
            <div class="inner">
              <figure><img class="a-image" src="./assets/images/answer.png" alt=""></figure>
              <div class="text">
                <p>
                  原稿はダミーです、テキストテキストテキストテテキスト。<br>
                  テキストテキストテキストテキストテテキストテキストテキストキストテキストテキストテキストテキストキスト。<br>
                  テキストテキストテキストテキステキストテキストテキストテキスト。  （質問への回答）
                </p>
              </div>
            </div>
          </div>
          <div class="contents">
            <div class="inner">
              <figure><img class="q-image" src="./assets/images/question.png" alt=""></figure>
              <div class="text">
                <p>
                  原稿はダミーです、テキストテキストテキストテキストテキストテキストテキストテキスト。<br>
                  テキストテキストテキストテキストテキストテキストテキストテキストテキステキストテキストテキストテキスト。 （よくある質問）
                </p>
              </div>
            </div>
          </div>
          <div class="contents red-bgc">
            <div class="inner">
              <figure><img class="a-image" src="./assets/images/answer.png" alt=""></figure>
              <div class="text">
                <p>
                  原稿はダミーです、テキストテキストテキストテテキスト。テキストテキストテキストテキストテテキストテキストテキスト<br>
                  テキストテキストキストテキストテキストテキストテキストキスト。<br>
                  テキストテキストテキストテキステキストテキストテキステキストテキストトテキスト。  （質問への回答）
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <nav class="footer-nav">
          <ul>
            <li><a href="#">相続のご相談</a></li>
            <li><a href="#">顧問税理士をお探しの方</a></li>
            <li><a href="#">ご依頼の流れ</a></li>
            <li><a href="./question.html">よくあるご質問</a></li>
            <li><a href="#">事務所案内</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">コラム</a></li>
          </ul>
        </nav>
        <div class="container">
          <div class="office-name"><a href="#"><img src="./assets/images/sitelogo.png" alt="堤税理士事務所"></a></div>
          <div class="office-info"> 
            <p>〒180-0002 東京都武蔵野市吉祥寺東町1丁目1番18号</p>
            <p>TEL 0422-21-3611</p>
          </div>
        </div>
      </footer>
    </div>
    <!-- ページ上部へ戻るボタンのJS-->
    <script src="./javascripts/toppage.js"></script>
  </body>
</html>
